p {
    text-align: center;
    font-family: 'Magical Horison', sans-serif;                               
    color: black;
    padding-top: auto;
}


header {
    padding-left: 4px;
    padding-top: 4px;
    color: blue;
    border: 20px;
}

header:hover {
    color: red;
}

.ew {
    border: 10px;
    padding-left: 40px;
    text-align: right;
}

h2 {
    text-align: right;
    position: relative;
}

A .middle {
    padding-left: 750px;
}

.vl {
    border-left: 6px solid black;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.borderimg {
    border-style: ridge;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;

}

.img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rotate:hover {
    transform: rotate(-10deg);
}

.rotate {
    transition: transform .2s;
}

body {
    background-image: url(MTGreenHouseBlur.png);
    font-family: 'Magical Horison', sans-serif;                                         
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-image: url();
    border: solid black;
}

.card-text {
    color: black;
}

.card {
    border: solid black;
    background-image: url(PlantBG.jpg);

}

.card>.card1 {
    display: inline-block;
}

.card-text,
.card-title {
    color: white;
}

.btn-primary {
    color: white;
    background-image: url(PlantBG.jpg);
    border: solid black;
}

.form-control {
    background-image: url();
    color: white;
    border: solid,black;
}
.top-padding {
    padding-top: 10px;
}
.me-2, .form-control{
    color: white;
}
.centered {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.brickbg {
    background-image: url(PlantBG.jpg);
    border: solid black;
}
.rockview {
    background-image: url(DarkRockBG.jpg);
    border: solid black;
}